<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{ $title := print .Title " · " .Site.Title }}
    {{ if .IsHome }}{{ $title = print .Site.Title ".eu · Wanderungen & Reiseberichte" }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{.Description | default .Site.Params.Description | plainify | truncate 160 }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $styles := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
</head>
<body class="{{ block "body_class" . }} {{ end }}">

    <div class="site-wrapper">
        {{- block "main" . }}{{- end }}

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> &#8226; {{ .Site.Params.summary }}</section>
                <nav class="site-footer-nav">
                    {{ if .Site.Params.instagram }}<a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener">Instagram</a>{{ end }}
                    <a href="{{ .Site.BaseURL }}/impressum/" style="opacity: 0.5;">Impressum</a>
                    <a href="{{ .Site.BaseURL }}" style="opacity: 0.5;">Rebellischer Wander-Blog</a>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>